    
  body {
    background: url(../picture/bg1.jpg)no-repeat;
    background-size:100% 100%; 
    background-attachment:fixed;
    padding: 0;
  margin: 0;
  }
  html{
      height: 100%;
  }
  .text-center{
      display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    
  
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  a{
      margin: 1px;
      padding: 0;
  }